<footer class="footer">
    <div class="info-container">
        <div class="copyright-info info-item">
            &copy;
            <% if (theme.footer.hasOwnProperty('since') && theme.footer.since) { %>
              <span><%= theme.footer.since %></span>&nbsp;-&nbsp;
            <% } %>
            <%= date(new Date(), 'YYYY') %>&nbsp;<i class="fas fa-heart icon-animate"></i>&nbsp;<a href="/"><%= theme.base_info.author || config.author %></a>
        </div>
        <div class="theme-info info-item">
            <%- __('powered_by', '<a target="_blank" href="https://hexo.io">Hexo</a>') %>&nbsp;|&nbsp;<%- __('theme') %>&nbsp;<a class="theme-version" target="_blank" href="https://github.com/XPoet/hexo-theme-keep">Keep v<%= theme.version %></a>
        </div >
        <% if (theme.footer.hasOwnProperty('icp') && theme.footer.icp) { %>
            <div class="icp-info info-item"><a target="_blank" rel="nofollow" href="https://beian.miit.gov.cn"><%= theme.footer.icp %></a></div>
        <% } %>
    </div>
</footer>
